<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCyP78ICdhUwS4Oc_FsDIT4xN674jDRoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59873367224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeApp</string>
	<key>PROJECT_ID</key>
	<string>employeemanagment-766bf</string>
	<key>STORAGE_BUCKET</key>
	<string>employeemanagment-766bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59873367224:ios:2695dfee6da792e682904d</string>
</dict>
</plist>